*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: black;
    --secondary-color:#90AA86;
    --tertiary-color: #4A2445;
    --accent-color: #824c71;
}

body{
    font-family: Montserrat, Arial, sans-serif;
}
h1{
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  color:white;
}

h4 {
  color: var(--tertiary-color);
  font-weight: bold;
  text-align: center;
}

.subnav-hero-section {
    text-align: center;
    background: var(--primary-color);
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }
  
  .subnav-hero-subnav li a.is-active {
    background: rgba(254, 254, 254, 0.15);
  }
  
  .subnav-hero-subnav li a:hover {
    background: rgba(254, 254, 254, 0.15);
  }

.intro{
    padding-top: 10px;
    text-align: center;
}

/* this is for the modals */
.modal-bg {
  position: fixed;
  width:100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  visibility: 0;
  opacity: 0;
  transition: visibility 0s opacity 0.5s; 
}

.modal {
  background-color: rgba(255,255,255,0.85);
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.checkbox-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
}

.bg-active {
  visibility: visible;
  opacity:1;
  pointer-events: auto;
}

.flex-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.mov-image-width {
  width: 20vw;
}

.video-card {
  width: 45vw;
}

iframe {
  width:560px;
  height:315px
} 

.news-card {
  width: 45vw;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.news-card a{
  display:flex;
  justify-content: center;
}
.news-card img{
  width:100%;
  display:flex;
  justify-content: center;
}



.search-button{
  display: block;
  background-color: var(--tertiary-color);
  width: 50%;
  color: white;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.search-button:hover{
  background-color: var(--accent-color);
}
/* End of modal Css   */

.bored-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bored-face {
  height: 40vh;
}
  
footer {
    background-color: var(--tertiary-color);
    padding: 1%;
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

  .footer-text {
    text-align: center;
}
  
.footer-text p {
  margin-bottom: 0;
}
.watchedbtn {
  display: block;
  background-color: var(--secondary-color);
  width: 50%;
  color: white;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.watchedbtn:hover{
  background-color: var(--tertiary-color);
}

.news-card a {
  font-size: 24px;
}


/* Media query for screens less that 1170px wide, Small computers, tablets*/
@media screen and (max-width:1170px) {
  .video-card {
    width: 95%
  }
  .video-card h3{
  display: flex;
  justify-content: center;    
  }
  .video-card div{
    display: flex;
    justify-content: center;    
  }
}

/* Media query for screens less that 900px wide, Tablets, large phone screens*/
@media screen and (max-width:900px) {

  .modal {
    height: 60vh;
  }

  .watchedbtn {
    width:75%
  }

  .checkbox-row {
    flex-direction: column;
  }
  
  .checkbox-column {
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px dotted black;
  }
}
/* Media query for screens less that 600px wide, medium phone screeens*/
@media screen and (max-width:600px) {
  .modal {
    width: 100vw
  }

  .watchedbtn {
    width:100%
  }

  .movie-card {
    width: 45vw;
  }

  .video-card iframe{
    width:100%;
  }
}
/* Media query for screens less that 500px wide, small phone screens*/
@media screen and (max-width:500px) { 
  .subnav-hero-section {
   display: block;
  }

  h4 {
    font-size: 0.9rem;
  }

  .watchedbtn {
    font-size: 12px;
  }
}

/* Media query for screens with less than 600px tall*/
@media screen and (max-height:600px) {
  .modal {
   height: 85vh;
  }
}